@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
// ============================= vátozók
$main_color: #9a9ab5;
$body_font: "Barlow", sans-serif;
$title_font: "Cinzel", serif;
$font_color: #dadaff;
$font_color_hover: #2b2b4b;
$primary_color: #965454;
$hover_color: #773b3b;
$transition: 0.5s;
$boxshadow_color: #2b2b3b;
$boxshadow_1: 1px 1px 2px $boxshadow_color;
$boxshadow_2: 6px 6px 9px lighten($boxshadow_color, 10%);
//===================== változók End here

@import "set"; // ====== alap beállítások
@import "preload"; // =========== preload

.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    transition: opacity 2s;
}
@import "header"; // menü és mobile menü
@import "aszf";
@import "footer";
